<ul class="nav">
		<li><%= link_to "#" %></li>
		<li><%= link_to "#" %></li>
		<li><%= link_to "#" %></li>
		<li><%= link_to "#" %></li>
		<li><%= link_to "#" %></li>
		<li><%= link_to "#" %></li>
</ul>