<div id="logo">
	<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQpJEbP4-LyeH5jsq2K_GOsjYz5B9VH_B8CLJvsCu5ti_RMc7W2"/>
</div>

<ul class="nav">
		<li><%= link_to "#" %></li>
		<li><%= link_to "#" %></li>
		<li><%= link_to "#" %></li>
		<li><%= link_to "#" %></li>
		<li><%= link_to "#" %></li>
		<li><%= link_to "#" %></li>
</ul>