<ul class="navigation">
		<li class="navbar"><%= link_to "#" %></li>
		<li class="navbar"><%= link_to "#" %></li>
		<li class="navbar"><%= link_to "#" %></li>
		<li class="navbar"><%= link_to "#" %></li>
		<li class="navbar"><%= link_to "#" %></li>
		<li class="navbar"><%= link_to "#" %></li>
</ul>